---
// src/components/model-detail/ModelMainColumn.astro
import ModelNotices from './ModelNotices.astro';

import FullReadmeSection from './FullReadmeSection.astro';


interface Props {
  model: any;
}

const { model } = Astro.props;
---

<div class="lg:col-span-2 space-y-6">

  {/* B.6: Primary Model Documentation */}
  <div class="relative">
     <div class="absolute -left-6 top-10 w-1 bg-indigo-500/20 h-24 rounded-full blur-sm"></div>
     <FullReadmeSection 
       bodyContent={model.html_readme || model.body_content}
       model={model}
       type="model"
       initialCollapsed={false}
       maxPreviewLength={5000}
     />
  </div>

  
  <!-- Missing Data & Limitations -->
  <ModelNotices 
    entityLabel={model.entityDefinition?.display?.labelSingular || 'Model'}
    sourceUrl={model.source_url}
    sourceTrail={model.source_trail}
    license={model.license_spdx}
    hasDescription={!!model.description}
    hasSeoSummary={!!model.seo_summary}
  />
  
  {/* Legacy ModelResources & EntityLinks removed - redundant with Neural Mesh Hub (V16) */}
  {/* CiteEntity removed here to avoid duplication with UniversalCore rendering */}
</div>
